{% extends 'assets/main.html' %}
{% load static %}

{% block mainContent %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Blog</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">

        {% for blog in blogs %}
          <div class="col-xl-4 col-md-6">
            <article>

              <div class="post-img">
                {% if "http" in blog.blog_image %}
                      <img src="{{ blog.blog_image }}" alt="" class="img-fluid">
                  {% else %}
                      <img src="{% static blog.blog_image %}" alt="" class="img-fluid">
                  {% endif %}
              </div>

              <p class="post-category">{{blog.category}}</p>

              <h2 class="title">
                <a href="{% url 'blog_detail' blog_id=blog.id %}">{{blog.title}}</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="#" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author-list">{{ blog.author.first_name }}  {{ blog.author.last_name }}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{ blog.created_at|date:"M j, Y" }}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->
        {% endfor %}

        </div><!-- End blog posts list -->

        <div class="blog-pagination">
          <ul class="justify-content-center">

            {% if blogs.has_previous %}
              <li><a href="?page={{ blogs.previous_page_number }}">pervious</a></li>
            {% endif %}

            <span class="current">
                <li class="active"><a href="#">{{blogs.number}}</a></li>
            </span>

            {% if blogs.has_next %}
              <li><a href="?page={{ blogs.next_page_number }}">next</a></li>
            {% endif %}

          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->

{% endblock mainContent %}